@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
:root {
  --c0h: white;
  --c1h: white;
  --c2h: white;
  --c3h: white;
  --c4h: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*:focus {
  outline: none;
  border: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333333;
}

button {
  font-family: "Muli", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d4d4d4;
}

.color {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 1.75rem;
  cursor: pointer;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: white;
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  pointer-events: none;
  border-top-left-radius: 1rem;
  /* We are adding an adjustemnt class */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library,
.close-adjustment {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: none;
  color: #494949;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.sliders button:focus,
.close-save:focus,
.close-library:focus,
.close-adjustment:focus {
  border: none;
  outline: none;
}

.sliders button:hover,
.close-save:hover,
.close-library:hover,
.close-adjustment:hover {
  color: black;
}

.close-adjustment {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #1f213f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.panel button:focus {
  border: none;
  outline: none;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.library-panel:focus,
.generate-panel:focus,
.save-panel:focus {
  border: none;
  outline: none;
}

.generate {
  position: relative;
}

.generate::after {
  font-family: "Raleway", sans-serif;
  content: "Or press spacebar!";
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.75rem;
  width: 8rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.generate:hover::after {
  opacity: 1;
  bottom: 2.5rem;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

.adjust:focus,
.lock:focus {
  border: none;
  outline: none;
}

/* Slider Stuff */
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-popup,
.save-popup,
.library-popup {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  width: 60%;
  min-height: 60vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
  max-width: 95%;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}

.close-save,
.close-library {
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: #3c3c5c;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.library-popup::-webkit-scrollbar {
  width: 10px;
}

.library-popup::-webkit-scrollbar-track {
  background: #1f213f;
}

.library-popup::-webkit-scrollbar-thumb {
  background: #888;
}

.library-popup::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.small-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.custom-palette h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.small-preview div {
  height: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.palette-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  position: relative;
}

.palette-preview:hover::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
}

.palette-preview:hover::after {
  cursor: pointer;
  content: "Select";
  font-size: 1rem;
  color: white;
  text-align: center;
  position: absolute;
}

.pick-palette-btn {
  height: 5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: #292929;
  color: white;
}

.hex {
  position: relative;
}

.hex::after {
  content: "Click to copy to clipboard!";
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.75rem;
  width: 10rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.hex:hover::after {
  opacity: 1;
  bottom: 30px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid black;
}

.hue-input[data-hue="0"]::-webkit-slider-thumb {
  background: red;
}

.hue-input[data-hue="0"]::-webkit-slider-thumb {
  background: var(--c0h);
}

.hue-input[data-hue="1"]::-webkit-slider-thumb {
  background: var(--c1h);
}

.hue-input[data-hue="2"]::-webkit-slider-thumb {
  background: var(--c2h);
}

.hue-input[data-hue="3"]::-webkit-slider-thumb {
  background: var(--c3h);
}

.hue-input[data-hue="4"]::-webkit-slider-thumb {
  background: var(--c4h);
}
/*# sourceMappingURL=style.css.map */